@media screen and (max-width: 700px) {
    .posts img {
    height: 90%;
    width: 90%;
    }
}
.posts img {
    box-shadow: -10px 10px 23px #888888;
}
.posts {
    font-family: Lato;
    box-shadow: 12px 0 15px -4px rgb(235, 236, 236), -12px 0 8px -4px rgb(235, 236, 236);
}
